@tailwind base;
@tailwind components;
@tailwind utilities;




a {
  color: #3843D0;
  text-decoration:inherit;
  cursor: pointer;
}
a:hover {
  color: #3d48dd;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  background-color: #F9FAFB;
  font-family: 'Source Sans 3', sans-serif;
}

.pagination {
  
  display: flex;
  padding-left: 0;
  list-style: none;

}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0d6efd;
  /* border-color: #0d6efd; */
  border-radius: 3px;
}
.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}
.page-link {
  padding: 0.515rem 0.95rem;
}
.page-link {
  position: relative;
  display: block;
  color: #666666;
  text-decoration: none;
  background-color: #fff; 
  /* border: 1px solid #dee2e6; */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-link:hover {
  z-index: 2;
  color: #0a58ca;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-link:focus {
  z-index: 3;
  color: #0a58ca;
  background-color: #e9ecef;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
} 
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00112cd4!important;
  border-radius:5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #00112c;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #D9D9D9!important;
}

 /* For Firefox */
.custom-scrollbar::-moz-scrollbar {
  width: 8px;
} 
.custom-scrollbar::-moz-scrollbar-thumb {
  background-color: #00112cd4!important;
  border-radius:5px;
}

.custom-scrollbar::-moz-scrollbar-thumb:hover {
  background-color: #00112c;
}
.custom-scrollbar::-moz-scrollbar-track {
  background-color: #D9D9D9!important
}
/* .sidebar-scrollbar::-moz-scrollbar-track {
  background-color: #1c2434!important;
} */

 /* For Other Browsers */
.custom-scrollbar::-ms-scrollbar {
  width: 8px;
} 
 .custom-scrollbar::-ms-scrollbar-thumb {
  background-color: #00112cd4!important;
  border-radius:5px;
}
.custom-scrollbar::-ms-scrollbar-thumb:hover {
  background-color: #00112c!important;
}
 .custom-scrollbar::-ms-scrollbar-track {
  background-color: #d9d9d9!important;
}

